<div class="table">
    <table class="table" >
        <thead>
            <th>name</th>
            <th>id</th>
            <th>kills</th>
            <th>deaths</th>
            <th>+/-</th>
        </thead>
        <tbody ng-repeat="player in players">
        <tr>
            <td>{{player.name}}</td>
            <td>{{player.id}}</td>
            <td>{{player.kills}}</td>
            <td>{{player.deaths}}</td>
            <td>{{player.kills - player.deaths}}</td>
        </tr>
        </tbody>
    </table>

</div>