<!DOCTYPE html>
<html lang="en" ng-app="statMaster">
	<head>
	    <meta charset="UTF-8">
	    <title> Contact list</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	
	    <!-- Optional theme -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	</head>
	<body>
		<div class="container" ng-controller="MatchController as vm">
			<p align="left">
				<br>
				push it if u want to start udp server <br>
				<br>
				<a class="btn btn-default" href="/listen">Start UDP</a>
			</p>
		    <h1>Contact list</h1>
		    <table class="table">
		        <thead>
		        <tr>
		            <th>matches</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr ng-repeat="match in vm.matches">
		            <td><a href="#/match/{{match._id}}" >{{match.match[10].map}} {{match.match[10].date}}</a> </td>
					<td><button class="btn btn-danger" ng-click="vm.remove(match._id)">Remove</button> </td>
		        </tr>
		        </tbody>
		    </table>
		</div>
	</body>
</html>